@import './Common.scss';


.icon {
    width: 30px;
    height: 30px;
    // margin-right: 10px;

}

.navbar {
    background: $dark-blue-800;
    justify-content: space-between;
    height: 70px;
}

.logo {
    width: 60px;
    height: 60px;
    top: 9px;
    left: 22px;
}

.navButtons {
    //justify-content: space-around;    
}

.navButton {
    a {
        color: $purple-heart-50;

        &:hover {
            color: $persian-rose-400;
        }
    }
}

.servicesButtons {
    color: $purple-heart-50;

}

//------------------HERO------------------//

.Portada {
    background-image: url("../Assets/PortadaHero.png");
    width: 100%;
    height: 700px;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 40px;
}

.titleHero {
    //Rubik-Bold-36
    color: $dark-blue-50;
    word-wrap: break-word;
}

.titleHeroCenter {
    //Rubik-Bold-48
    color: $persian-rose-300;
    //word-wrap: break-word;
}

.backgroundIconHero {
    background-color: rgb(255 240 251 / 50%);//$persian-rose-50;   
}

.textIconHero{
    //Rubik-Medium-23
    //Rubik-Medium-18
    color: $persian-rose-100;
    //word-wrap: break-word;
}

//------------------RECOMPENSA------------------//
.Recompensa{
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 50px;
}

.titleRecompensa{
    /* Rubik Bold/Rubik Bold 70px */
    background: linear-gradient(180deg, #4F00CD 0%, #A92FFF 66.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

.backgroundIconRecompensa {
    background-color: $dark-blue-100
}

.subtitleRecompensaCard{
    //Rubik-Medium-45
    color: $purple-heart-900;
    //word-wrap: break-word;
}
.textRecompensaCard{
    //Rubik-Medium-29
    color: $purple-heart-500;
    //word-wrap: break-word;
}

//------------------OPINIONES------------------//
.Opiniones{
    /* Gradients/Gradient purple heart */
    background: linear-gradient(90deg, #4A12CB 1.39%, #8218DB 42.25%, #BC1FEC 99.45%);
    margin-bottom: 50px;
}

.titleOpiniones{
    /* Rubik Bold/Rubik Bold 56px */
    background: linear-gradient(180deg, #FFC6F5 0%, #F3F0FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.slick-slide > div{
    margin: 0 50px;
}

.cardOpinion{
    /* Testimonial */
    
    background: rgba(187, 165, 255, 0.67);
    /* card shadow */
    box-shadow: 0px 12px 25px rgba(6, 28, 61, 0.15);
    border-radius: 16px;
}

.nombreCardOpinion{
    /*rubik-Bold-23*/
    color: $persian-rose-50;
}
.cargoCardOpinion{
    /*rubik-Bold-18*/
    color: $persian-rose-200;
}
.textCardOpinion{
    /* Rubik Regular/Rubik Regular 23px */
    color: $dark-blue-50;
}

//------------------Security------------------//

.Seguridad{
    margin-bottom: 50px;
}

// Burs ai tu espacio seguro
.bursAi {
    color: $dark-blue-800;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 45px;
}

// Confiamos en ti
.confiamosEnTi {
    color: $purple-heart-400;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 36px;
}

// y, puedes
.yPuedes {
    color: $purple-heart-950;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 36px;
}

// tú
.tu {
    color: $purple-heart-600;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 36px;
}

// confiar en nosotros
.confianza {
    color: $dark-blue-900;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 36px;
}

// paragraph
.paragraph {
    color: $dark-blue-950;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 29px;
}